{% extends "base2.html" %}
{% load dashboardconfig bootstrap4 %}{% DashboardConfigs as config %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title_block %} Forget Password {% endblock %}
{% block content %}

 <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 col-md-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    {% if config.site_logo %}<a href="/"><img src="{{config.get_logo_url}}" alt="{{config.site_name}}" title="{{config.site_name}}" width="30%"></a>{% endif %}
                    <h1 class="h4 text-gray-900 mb-4">Reset Pasword!!!</h1>
                  </div>
                  <p class="text-center">
                     We've emailed you instructions for setting your password, if an account exists with the email you entered.
                          You should receive them shortly.
                        <br>
                          If you don't receive an email, please make sure you've entered the address you registered with,
                          and check your spam folder.
                  </p>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'smsangosend:login' %}">Login!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'smsangosend:register' %}">Register</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
    <!-- jQuery -->
{% endblock %}