<!-- Modal -->

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content" style="overflow-y: scroll;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title_id"></h4>
        <button type="button" class="close" data-dismiss="modal" onclick="closeUp();">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modal-body">
        <table class="table table-bordered">
            <thead id="mTable">
            </thead>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"  onclick="printJS('modal-body', 'html');">Print</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeUp();">Close</button>
      </div>

    </div>
  </div>
</div>