{% extends "basenew.html" %} 
{% block title %}Purchase Your Spectranet Here{% endblock %}
{% block content %}
<script type="text/javascript">
function purchaseSMEData(event){
  event.preventDefault()
  var plan = document.querySelector("#plan").value;
  var numbers = document.querySelector("#numbers").value;
  var form = document.querySelector("#form_id")
  var stringParams = 'numbers='+numbers+'&plan='+plan

  var settings = {
        "async": true,
        "crossDomain": true,
        "url": "/api/v1/purchaseSpectranet?api-token={{user.auth_token.key}}&"+stringParams,
        "method": "POST",
        "processData": false,
    };
    document.querySelector("#smeSubmit").textContent = "Processing";
  document.querySelector("#smeSubmit").setAttribute("disabled", "disabled");
    //use label tag to get the firstElementchild and change the attribute of the firstElementChild
    $.ajax(settings).done(function (response) {
      data = response
      if(response.status !== 201){
        console.log(data)
        document.querySelector("#notific").innerHTML = '<li class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>' + data.details +'</li>'
        form.reset()
        document.querySelector("#smeSubmit").textContent = "Proceed to Topup SME Datashare";
      } else {
        console.log(data)
        document.querySelector("#notific").innerHTML = '<li class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>' + JSON.stringify(data.details) +'</li>'
        form.reset()
        document.querySelector("#smeSubmit").textContent = "Proceed";
      }
  document.querySelector("#smeSubmit").removeAttribute("disabled");

      //var win = window.open('', )
      //get data from the api and split into object and keys
      //localStorage.setItem("address", data.address)
    });
}
</script>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Purchase Your Spectranet</h6>
            <div class="drpdown no-arrow show">
                <a class="font-weight-bold text-danger d-md-none" href="#note">Must Read</a>
            </div>
        </div>            
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="messages list-unstyled" id="notific"></ul>
                    <form id="form_id" role="form" onsubmit="purchaseSMEData(event);">
                        {% csrf_token %}
                        <div class='form-group'>
                          <label for='datasize'> Data Size</label>
                          <select id='plan' class="form-control" name="plan" type="text">
                            <option></option>
                            {% for i in spectranetOptions %}
                              <option>{{i}}</option>
                            {% endfor %}                            
                          </select>
                        </div>
                        <div class='form-group'>
                            <label for='numbers'>Number of Pins </label>
                            <input  class="form-control" name="numbers" id="numbers" type="number" required>
                            <!-- <small id="PhoneHelp" class="form-text text-muted"></small> -->
                        </div>
                        <div class='form-group'>
                            <button type="submit" id="smeSubmit" class="btn btn-primary btn-lg btn-block">Purchase </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6" id="note">
                    {% comment %} <p>
                        <strong>SME DATA BUNDLE TOP-UP</strong>
                        <h4>How it works:</h4>
                        <br><strong>MTN Datashare Fast Delivery Guaranteed. <br> To Check MTN Datashare Balance: *461*4#<br> MTN SME Data Share is available 24/7 daily</strong> 
                        <br>
                    </p>{% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}