{% extends "basenew.html" %}{% block title %}Send Mail to user(s){% endblock %}
{% block content %}
<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js"></script>

<script>

tinymce.init({
  selector: 'textarea#basic-example',
  height: 500,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  menubar: 'file edit view insert format tools table tc help',
  toolbar: 'undo redo | formatselect | ' +
  'bold italic backcolor | alignleft aligncenter ' +
  'alignright alignjustify | bullist numlist outdent indent | ' +
  'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  autosave_interval: '30s',
  autosave_prefix: '{path}{query}-{id}-',
  autosave_restore_when_empty: false,
  autosave_retention: '2m',
  image_advtab: true,
});


const checkMail = () => {
	$('#id_email').toggle();
} 
</script> 

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Send Mail to user(s) </h6>
            <div class="drpdown no-arrow show">
                <a class="font-weight-bold text-danger d-md-none" href="#note">Must Read</a>
            </div>
        </div>            
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    {% if messages %}
                    <ul class="messages list-unstyled">
                        {% for message in messages %}
                        <li {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %}><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input class="form-control" name="subject" length="50">
                        </div>
						<div class="form-group form-check-inline">
						  <label class="form-check-label">
							<input type="checkbox" onchange="checkMail();" class="form-check-input" name="send_all_users">Send to All Users
						  </label>
						</div>
                        <div class="form-group" id="id_email" style="display:block">
                            <label for="email">Email </label>
                            <input type="email" class="form-control" name="user_email">
                        </div>

                        <div class="form-group">
                            <label for="contact_numbers">Message </label>
                            <textarea class="form-control" id="basic-example" name="message" rows="5" placeholder="Enter Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                    </form>
                </div>
            </div>
                <!-- /.row (nested) -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
{% endblock %}