{% extends "basenew.html" %} {% block title %}SCHEDULE SMS REPORT{% endblock %}
    {% block extracss %}
 {% endblock extracss %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">SCHEDULE SMS REPORT</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table width="100%" class="table table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr width="100%">
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Scheduled Date & Time: activate to sort column ascending" style="width: 62px;">Scheduled Date & Time</th>
                            <th>Sender</th>
                            <th>Sent Recipients</th>
                            <th>Not Sent Recipients</th>
                            <th>Route</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if historys %}
                            {% for object in historys %}
                            <tr class="">
                                <td>{{ object.time_to_send }}</td>
                                <td>{{ object.sender }}</td>
                                <td>{% if object.sently %}{{ object.sently | linebreaks }}{% else %} No Record {% endif %}</td>
                                <td>{% if object.notsently %}{{ object.notsently | linebreaks }} <br><form action="{% url 'smsangosend:sendsmspage' %}" method="POST">{% csrf_token %} <input type="hidden" name="sender" value="{{ object.sender }}"><input type="hidden" name="messagecontent" value="{{ object.messagecontent }}"><input type="hidden" name="recipients" value="{{ object.notsently }}"><input type="hidden" name="smsroute" value="DND"><button class="btn btn-primary" style="padding: 2px 2px!important;">Try DND Route</button></form>{% else %} No Record {% endif %}</td>
                                <td class="center">{{ object.apiRoute }}</td>
                                <td class="center">{{ object.timestamp }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr class="">
                            <td>Sorry, no history Yet.</td>
                        </tr>
                        {% endif %}


                    </tbody>
                </table>
<!--                 {% include "partials/paginations.html" %} -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}
{% block footer_scripts %}
{% include 'partials/table_scripts.html' %}
{% endblock footer_scripts %}