{% extends "basenew.html" %}{% load humanize %}{% block title %}YOUR PAYMENT AIRTIME TRANSACTIONS{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">USER TRANSACTIONS HISTORIES</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table width="100%" class="table table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr width="100%">
                                <th>S/N</th>
                                <th>Username</th>
                                <th>Order ID</th>
                                <th>Service</th>
                                <th>Logs</th>
                                <th>Old Balance</th>
                                <th>New Balance</th>
                                <th>Status</th>
                                <th>Date</th>
                                <!-- <th>#</th> -->
                            </tr>
                        </thead>
                        <tbody>
                        {% if historys %}
                            {% for i in historys %}
                            <tr>
                                <td><small>{{forloop.counter}}</small></td>
                                <td><small>{{i.user.username}}</small></td>
                                <td><small>{{i.reference}}</small></td>
                                <td><small>{{i.bill_type}}</small></td>
                                <td><small> {{i.user.username}} attempted to purchase {{i.bill_type}} for {{i.paid_amount}} code is ({{i.identifier}})</small></td>
                                <td><small>{{i.old_balance|intcomma}}</small></td>
                                <td><small>{{i.new_balance|intcomma}}</small></td>
                                <td><small>{{i.status}}</small></td>
                                <td><small>{{i.created_at}}</small></td>
                                <!-- <td><a href="#" class="btn btn-primary">view</a></td> -->
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr class="">
                            <td colspan="9">Sorry, no history Yet.</td>
                        </tr>
                        {% endif %}


                    </tbody>
                </table>
<!--                 {% include "partials/paginations.html" %} -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}
{% block footer_scripts %}
{% include 'partials/table_scripts.html' %}
{% endblock footer_scripts %}